<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="Academy.Listeners"/>
</listeners>

	<test thread-count="5" name="App Testing" >
		<classes>
			<class name="Academy.AppTest" />
		</classes>
	</test>
	<test thread-count="5" name="Validating Navigation Bar">
		<classes>
			<class name="Academy.validateNavigationBar" />
		</classes>
	</test>

	<test thread-count="5" name="Validating User Login">
		<classes>
			<class name="Academy.HomePage" />
		</classes>
	</test>

	<test thread-count="5" name="validate title">
		<classes>
			<class name="Academy.validateTitle" />
		</classes>
	</test>

</suite> <!-- Suite -->
